<%- include('../includes/head.ejs') %>
    
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <div class="container">
            <form action="/reset" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                </div>
                
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              
    </div>
   
<%- include('../includes/end.ejs') %>